* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  max-width: 100%;
  overflow-x: hidden; }

body {
  min-width: 300px;
  background-color: white !important; }

.header {
  height: 50px;
  width: 100%;
  border-bottom: 1px solid #47b351 white;
  background-color: #312377; }
  .header .btn {
    margin-top: 5px;
    margin-bottom: 5px; }
  .header .header_phone,
  .header .header_time-job {
    display: inline;
    padding: 13px 15px 13px 15px;
    float: right;
    color: white; }
  @media screen and (max-width: 558px) {
    .header {
      display: none !important; } }

.navbar {
  width: 100% !important;
  padding-bottom: 0px !important;
  padding-top: 0px !important;
  background-color: #3e6bb8; }
  .navbar a {
    color: white !important; }

.img-but-menu {
  width: 25px; }

.nav-link:hover {
  border-bottom: 3px solid white; }

.mainImg {
  width: 100%;
  height: 600px;
  background-image: url("/img/mainImg.jpg");
  -webkit-background-size: cover;
          background-size: cover;
  background-attachment: fixed; }
  @media screen and (max-width: 620px) {
    .mainImg {
      background-position: center;
      background-repeat: no-repeat; } }

.textContainer {
  top: 50px;
  width: 100%;
  background-color: white; }

.stiker-block {
  width: 200px;
  height: 200px;
  display: inline-block;
  position: relative;
  margin: 15px;
  top: -100px;
  z-index: 9999;
  border: 1px solid #47b351 white;
  text-align: center;
  -webkit-transition: 3s;
  -o-transition: 3s;
  transition: 3s;
  -webkit-perspective: 1000px;
          perspective: 1000px; }
  .stiker-block .striker-text-img {
    width: 50px; }
  .stiker-block p {
    padding-top: 45px;
    color: white;
    font-size: 25px; }

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden; }

.front {
  background-color: #415ade; }

.back {
  background-color: #415ade;
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg); }

.stiker-block:hover .front {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg); }

.stiker-block:hover .back {
  -webkit-transform: rotateX(360deg);
          transform: rotateX(360deg); }

.contentOne {
  position: relative;
  z-index: 1;
  border: 1px solid #47b351 white;
  background-color: white; }
  .contentOne .content-emty {
    height: 100px; }

.serviceBlock {
  background-color: #cccccc; }

.aboutBlock {
  background-color: white; }

.footer {
  position: relative;
  float: left;
  height: 150px;
  border: 1px solid #47b351 white; }
