* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  max-width: 100%;
  overflow-x: hidden; }

body {
  background-color: white !important; }

.header {
  height: 50px;
  width: 100%;
  border-bottom: 1px solid #47b351 white;
  background-color: #312377; }
  .header .btn {
    margin-top: 5px;
    margin-bottom: 5px; }
  .header .header_phone,
  .header .header_time-job {
    display: inline;
    padding: 13px 15px 13px 15px;
    float: right;
    color: white; }
  @media screen and (max-width: 558px) {
    .header {
      display: none !important; } }

.navbar {
  width: 100% !important;
  padding-bottom: 0px !important;
  padding-top: 0px !important;
  background-color: #3e6bb8; }
  .navbar a {
    color: white !important; }

.img-but-menu {
  width: 25px; }

.nav-link:hover {
  border-bottom: 3px solid white; }

.mainImg {
  width: 100%;
  height: 600px;
  background-image: url("/img/mainImg.jpg");
  -webkit-background-size: cover;
          background-size: cover;
  background-attachment: fixed; }

.textContainer {
  top: 50px;
  width: 100%;
  background-color: white; }

.stiker-text {
  width: 200px;
  height: 200px;
  display: inline-block;
  position: relative;
  margin: 15px;
  top: -100px;
  background-color: #415ade;
  z-index: 9999;
  border: 1px solid #47b351 white;
  text-align: center; }

.contentOne {
  position: relative;
  z-index: 1;
  border: 1px solid #47b351 white;
  background-color: white; }
  .contentOne .content-emty {
    height: 100px; }

.serviceBlock {
  background-color: #cccccc; }

.aboutBlock {
  background-color: white; }

.footer {
  position: relative;
  float: left;
  height: 150px;
  border: 1px solid #47b351 white; }
