@charset "utf-8"
$BGcolorBody: rgb(255, 255, 255);
$mainWidth: 100%;
$coh: 500px; //contentOneHeight
$coc: rgb(255, 255, 255); //contentOneColor
$borderColor: rgb(71, 179, 81)white;
$footerHeight: 150px;
$bgcolorElem: rgb(62, 107, 184);

*
  box-sizing: border-box;

html
  max-width: 100%
  overflow-x: hidden;

body

  background-color: $BGcolorBody!important;



.header

  height: 50px;
  width: $mainWidth;
  border-bottom: 1px solid $borderColor;
  background-color: rgb(49, 35, 119);
  .btn
    margin-top: 5px;
    margin-bottom: 5px;
  .header_phone,
  .header_time-job
    display: inline;
    padding-top: 13px;
    padding-bottom: 13px;
    float: right;
  @media screen and (max-width: 500px)
      display: none!important;

.navbar
  width: 100%!important;
  padding-bottom: 0px!important;
  padding-top: 0px!important;
  background-color: $bgcolorElem;
  a
    color: rgb(255, 255, 255)!important;

.navbar-toggler
  background-color: rgb(255, 255, 255)!important;

.nav-link:hover
  border-bottom: 3px solid rgb(255, 255, 255);


// .menu
//
//   height: 50px;
//   width: $mainWidth;
//   background-color: $bgcolorElem;
//   border: 1px solid $borderColor;

.mainImg
  width: $mainWidth;
  height: 600px;
  background-image: url('/img/mainImg.jpg');
  background-size: cover;  
  background-attachment: fixed;

.textContainer
  text-align: center;
  // border: 1px solid rgb(255, 0, 0);
  // float: left;
  top: 50px;
  width: 100%;
  background-color: $coc;

.text
  position: relative;
  top: -100px;
  background-color: rgb(65, 90, 222);
  z-index: 9999;
  display: inline-block;
  margin: 15px;
  border: 1px solid $borderColor;
  width: 200px;
  height: 200px;

.contentOne
  position: relative;
  z-index: 1;
  // height: $coh;
  border: 1px solid $borderColor;
  background-color: $coc;
  .content-emty
    height: 100px;

.serviceBlock
  background-color: rgb(204, 204, 204);

.aboutBlock
  background-color: rgb(255, 255, 255);

.footer
  position: relative;
  float: left;
  height: $footerHeight;
  border: 1px solid $borderColor;
